@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@import url('https://www.w3schools.com/lib/fonts/fontawesome.woff2?14663396');

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.navigation_wrapper {
    background-color: rgba(0, 0, 0, 0.8); 
    text-align: center;
    padding: 0 10px;
}

.navigation {
    display: inline-block;
    cursor: pointer;
    margin: 0 10px;
    text-align: center;
    color: white;
}

.navigation .active {
    margin-bottom: 0;
    border-bottom: solid 2px white;
    padding-bottom: 5px;
}

.navigation_wrapper .inactive {
    color: gray;
}

.year_wrapper {
    text-align: center;
    border-right: solid 1px gray;
    padding: 0 15px;
    color: white;
    float: left;
}

.year_wrapper .active {
    color: red;
}

.year {
    width: 20px;
    display: inline-block;
    cursor: pointer;
}

.items_wrapper {
    position: relative;
    width: 100%;
}

.items_wrapper div {
    margin: 10px;
}

.curveChart {
    width: 86%;
    height: 600px;
    display: flex;
    margin: auto;
}