.table_scroll {
  overflow: auto;
  height: 87%;
}

.table {
    width: 100%;
    border: none;
    margin-bottom: 20px;
    border-collapse: collapse;
}

.activeOrderField {
    color: darkred;
}

.table thead {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.table thead th {
    font-weight: bold;
    border-right: solid 1px white;
    padding: 10px 15px;
    background: #EDEDED;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

.table thead th.long_year {
    border-bottom: solid 1px white;
}

.table tbody td {
    text-align: center;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
    border-bottom: solid 1px black;
}

.table tbody tr:last-child td {
    border:none;
}

.table tbody td:nth-child(2) {
    text-align: left;
}

.table tbody tr:nth-child(even) {
    background: #F8F8F8;
}