@import url(../fonts/forte.TTF);

body {
    margin: 0px;
}

.header {
    background-color: black;
    text-align: center;
    border-bottom: solid 1px white;
}

.header img {
    width: 800px;
}

ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Forte;
}

li a:hover {
    background-color: white;
    color: black;
}