
@font-face {
    font-family: Zebulon;
    src: url(../fonts/Zebulon.otf);
}

@font-face {
    font-family: Forum;
    src: url(../fonts/forum.ttf);
}

body {
    text-align: center;
    background-attachment: fixed;
    background-image: url(https://i.pinimg.com/originals/0f/18/72/0f1872ae8eef2e9e06c32d0e30277ac2.jpg);
}

h1 {
    font-family: Forum;
    text-align: center;
    margin-left: 100px;
    color: white;
    font-size: 80px;
    margin: 40px;
}

h1 img {
    width: 100px;
    height: 100px;
    position: relative;
    top: 20px;
    left: -10px;
}

div div div div {
    display: inline-block;
    margin: 30px 100px;
}

div div div p {
    font-family: Zebulon;
    font-size: 40px;
    background-color: rgba(0, 0, 0, 0.1);
}

table {
    color: white;
    margin: auto;
    margin-bottom: 75px;
    text-align: center;
    font-size: 30px;
    font-family: Forum;
    border: solid;
}

table tr:first-child {
    font-size: 50px;
    font-family: Forum;
}

td {
    padding: 5px 10px 0px 20px;
    border: dashed 1px white;
}

/* sub menu */
.rating_ordering {
    text-align: center;
    margin: 50px 0px 30px;
    font-family: fantasy;
}

.rating_ordering ul {
    padding: 0px;
    font-size: 0px;
}

.rating_ordering li {
    display: inline-block;
}

.rating_ordering a, .rating_ordering p {
    color: brown;
    font-size: 45px;
    margin: 0px 20px;
    text-decoration: none;
    font-weight: bold;

}

a.active  {
    border-bottom: double 7px brown;
    color: brown;
}
/* END sub menu */

.ng-hidden {
    display: none;
}

#player {
    min-width: 200px;
}

.total {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}



.game_title {
    border-bottom: solid 3px white !important;
    padding: 10px 0px !important;
    font-weight: bold;
}