@font-face {
    font-family: Benzier-Sans-Bold;
    src: url(../fonst/Benzier\ Sans\ Bold.ttf);
}

@font-face {
    font-family: Benzier-Sans-Regular;
    src: url(../fonst/Benzier\ Sans\ Regular.ttf);
}

body {
    background: url(../images/background.png);
    font-family: Benzier-Sans-Regular;
}

.total-wrapper {
    padding: 30px 5% 50px 5%;
}

.header {
    text-align: center;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0;

    @media (max-width: 1024px) {
        display: block;
    }
}

.header img {
    width: 120px;
    margin-right: 30px;

    @media (max-width: 1024px) {
        width: 150px;
        margin-bottom: 50px;
        margin-right: 0;
    }
}

h1 {
    color: white;
    font-size: 100px;
    margin: 0;
    display: inline-block;

    @media (max-width: 1024px) {
        font-size: 40px;
        display: block;
    }
}

.total {
    text-align: center;
}

.total table {
    border: solid 2px white;
    color: white;
    font-size: 1.5em;
    display: inline-block;
}

.game table {
    border: solid 2px white;
    border-collapse: collapse;
    color: white;
    font-size: 20px;
    width: 100%;
}

td {
    border: solid 1px white;
    text-align: center;
    height: 70px;
}

.table-number {
    width: 40px;
}

.mafia-table-wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 1024px) {
        display: block;
    }
}

.mafia-table {
    display: inline-block;
    width: 30%;

    @media (max-width: 1024px) {
        width: 100%;
        margin-bottom: 35px;
    }
}

.mafia-table p {
    font-size: 35px;
    color: white;
    border-bottom: none !important;
    margin: 20px 0;
    text-align: center;
}

.total-mafia-table {
    padding-bottom: 50px;
    overflow-x:scroll;
    white-space: nowrap;
}

.total-mafia-table p {
    font-size: 50px !important;
    color: white;
    border-bottom: none !important;
    margin: 20px 0;
}

.game-number {
    color: white;
    font-size: 60px;
    padding-top: 70px;
    margin: 0;
    text-align: center;
}

.total p {
    color: white;
    font-size: 70px;
    padding: 50px 0 20px;
    margin: 20px 0;
}

a {
    color: white;
    text-decoration: none;
    font-size: 27px;
    margin: 20px;
    display: inline-block;
}