body {
    background: url(../images/background.png);
}

.total-wrapper {
    padding: 30px 5% 0 5%;
}

.header {
    text-align: center;
}

.header-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 35px 0;
}

.header img {
    width: 120px;
    margin-right: 30px;
}

h1 {
    color: white;
    font-size: 85px;
    font-family: serif;
    margin: 0;
    display: inline-block;
}

.total {
    text-align: center;
}

.total table {
    border: solid 2px white;
    color: white;
    font-family: serif;
    font-size: 1.5em;
    display: inline-block;
}

.game table {
    border: solid 2px white;
    border-collapse: collapse;
    color: white;
    font-family: serif;
    font-size: 20px;
    width: 100%;
}

td {
    border: solid 1px white;
    text-align: center;
    height: 45px;
}

.mafia-table-wrapper {
    display: flex;
    justify-content: space-between;
}

.mafia-table {
    display: inline-block;
    width: 30%;
}

.mafia-table p {
    font-family: Calisto MT;
    font-size: 50px !important;
    color: white;
    border-bottom: none !important;
    margin: 20px 0;
    text-align: center;
}

.total-mafia-table {
    padding-bottom: 50px;
    overflow-x:scroll;
    white-space: nowrap;
}

.total-mafia-table p {
    font-family: Calisto MT;
    font-size: 50px !important;
    color: white;
    border-bottom: none !important;
    margin: 20px 0;
}

.top {
  --offset: 50px;

  position: sticky;
  bottom: 20px;
  margin-right: 10px;
  place-self: end;
  margin-top: calc(100vh + var(--offset));
  text-decoration: none;
  padding: 30px;
  font-family: sans-serif;
  font-size: 40px;
  color: black;
  background: white;
  border-radius: 100px;
  white-space: nowrap;
  float: right;
}

.game-number {
    color: white;
    font-size: 70px;
    padding: 70px 0 20px;
    margin: 20px 0;
    text-align: center;
}

.total p {
    color: white;
    font-size: 70px;
    padding: 50px 0 20px;
    margin: 20px 0;
}

a {
    color: white;
    text-decoration: underline;
    font-family: serif;
    font-size: 27px;
    margin: 20px;
    display: inline-block;
}