/* Custom fonts */
@font-face {
    font-family: Zebulon;
    src: url(../fonts/Zebulon.otf);
}


@font-face {
    font-family: Mga;
    src: url(../fonts/Mga.ttf);
}


@font-face {
    font-family: Forte;
    src: url(../fonts/forte.TTF);
}
/* body */
body {
    margin: 0px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqpHVD9OXVEvMxSXC0xdXVhCzopcuBwSeGi6Q6VYym6ISYSeBE0Q);

}

/* header */
.header {
    background-color: white;
    height: 230px;
    text-align: center;
    background-image: url(../images/Tomas-logo.jpg);
    background-position: center;
    background-size: 250px 200px;
}

.header h1 {
    color: white;
    font-family: fantasy;
    vertical-align: middle;
    display: inline-block;
    font-size: 70px;
}
/* sub header */
.sub_header ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: steelblue;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 0px;
    font-size: 0px;
    text-align: center;
}

.sub_header li {
    display: inline-block;
}

.sub_header li a {
    display: block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Forte;
}

.sub_header li a:hover {
    color: black;
}

.sub_header li img {
    width: 30px;
    vertical-align: middle;
    position: relative;
    left: 3px;
}

/* Сontent */
.content {
    text-align: center;
    overflow-x: scroll;
}
/* HOME */
.home_title {
    font-size: 80px;
    color: white;
    font-family: fantasy;
    text-align: center;
    margin: 80px auto 40px;
}

.home_title span {
    transform: none;
    position: initial;
    transition: none;
}

.home_title{
    text-align: center;
}
/* END HOME */
/* Rating */
table.thomas_rating {
    color: #aaa;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    border: double 5px cornflowerblue;
    display: inline-block;
}

table.thomas_rating tr {
    height: 40px;
    background-color: #222226;
}

table.thomas_rating tr:nth-child(1) {
    height: 60px;
}

table.thomas_rating tr:last-child td {
    background-color: steelblue;
    width: 50%;
    border: none;
    color: white;
}

table.thomas_rating tr:nth-child(1) td {
    color: white;
    background-color: steelblue;
    border: none;
}

table.thomas_rating td {
    min-width: 65px;
    border: dashed 1px cornflowerblue;
}

.table_header td {
    cursor: pointer;
}

.season_left {
    text-align: center;
    color: red;
    font-size: 15px;
    font-family: Zebulon;
}
/* END RATING */
/* sub menu */
.rating_ordering {
    text-align: center;
    margin: 50px 0px 30px;
    font-family: fantasy;
}

.rating_ordering ul {
    padding: 0px;
    font-size: 0px;
}

.rating_ordering li {
    display: inline-block;
}

.rating_ordering a, .rating_ordering p {
    color: white;
    font-size: 45px;
    margin: 0px 20px;
    text-decoration: none;
    font-weight: bold;

}

a.active  {
    border-bottom: solid 3px white;
    color: white;
}
/* END sub menu */
/* ABOUT section */
.about {
    width: 80%;
    margin: 30px auto;
    font-family: Schule;
    font-size: 20px;
    text-indent: 1.5em;
    background-color: rgba(34,34,38, 0.5);
}

.about h2 {
    font-size: 60px;
    color: white;
    font-family: fantasy;
    text-align: center;
    margin: 50px 0px 30px;
}

.about p {
    line-height: 35px;
    text-align: justify;
    border-left: solid 10px darkred;
    padding: 0px 20px;
    color: lightgrey;
}

#idea p {
    border-left: solid 10px darkgreen;
}

#scoring p {
    border-left: solid 10px darkorange;
}

#scoring li {
    font-size: 19px;
    font-family: serif;
    text-align: justify;
    line-height: 30px;
    color: lightgrey;
}

#masters p {
    border-left: solid 10px darkcyan;
}

#newcomers p {
    border-left: solid 10px darkorchid;
}

#additional p {
    border-left: solid 10px steelblue;
}

#end p {
    font-style: italic;
    text-align: center;
    border: none;
    font-size: 25px;
    color: firebrick;
    font-weight: 600;
}
/* END ABOUT section */
/* STRIMING */
.striming_wrapper {
    text-align: center;
}

.striming_wrapper h2 {
    font-size: 60px;
    color: white;
    font-family: fantasy;
    padding: 50px 0px 0px;
    margin: 0px;
}

.striming_wrapper iframe {
    margin-top: 30px;
    border-radius: 8px;
    border: solid 3px white;
}

.striming_wrapper p {
    color: white;
    font-size: 25px;
    margin: 10px 0px 30px;
    font-family: 'Courier New', Courier, monospace;
}

/* END STRIMING */