/* Custom fonts */
@import url(../fonts/forte.TTF);

/* body */
body {
    margin: 0px;
}

/* header */
.header {
    background-color: white;
    height: 200px;
    text-align: center;
    background-image: url(../images/tg-logo.png);
    background-position: center;
    background-size: 250px 200px;
}

.header h1 {
    color: white;
    font-family: fantasy;
    vertical-align: middle;
    display: inline-block;
    font-size: 70px;
}
/* sub header */
.sub_header ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: azure;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 0px;
    font-size: 0px;
    text-align: center;
}

.sub_header li {
    display: inline-block;
}

.sub_header li a {
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: Forte;
}

.sub_header li a:hover {
    color: skyblue;
}

/*  content */

.content {
    text-align: center;
    overflow-x: scroll;
}

/* Rating */
table.thomas_rating {
    color: black;
    margin: 20px;
    font-size: 20px;
    text-align: center;
    border: double 5px cornflowerblue;
    display: inline-block;
}

table.thomas_rating tr {
    height: 40px;
}

table.thomas_rating tr:nth-child(1) {
    height: 60px;
}

table.thomas_rating tr:nth-child(1) td {
    color: white;
    background-color: black
}

table.thomas_rating td {
    min-width: 65px;
    border: dashed 1px black;
}