<html data-ng-app="fantasyApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="https://pngicon.ru/file/uploads/persik-256x256.png" type="image/x-icon" />
        <title>Lesli 2005</title>

        <link rel="stylesheet" href="../../etc/styles/main.css" />
        <link rel="stylesheet" href="../../etc/styles/loader.css" />
        <link rel="stylesheet" href="../../etc/styles/table.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="../../etc/scripts/controllers/mainController.js"></script>
    </head>
    <body data-ng-controller="mainController" data-ng-init="init()">
        <div data-ng-if="!isLoaded" class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            <p>Loading...</p>
        </div>
        <div data-ng-if="isLoaded">
            <div class="navigation_wrapper">
                <div data-ng-class="{'active': activeTab === 'company'}" class="navigation" data-ng-click="showCompany()">
                    <p>Компании</p>
                </div>
                <div data-ng-class="{'active': activeTab === 'product'}" class="navigation" data-ng-click="showProduct()">
                    <p>Продукты</p>
                </div>
                <div data-ng-class="{'active': activeTab === 'stats'}" class="navigation" data-ng-click="showStats()">
                    <p>Статистика</p>
                </div>
                <div class="navigation inactive">
                    <p>Топ 10 Клиентов</p>
                </div>
                <div class="navigation inactive">
                    <p>Топ 10 Товаров</p>
                </div>
                <div class="navigation inactive">
                    <p>Анализ</p>
                </div>
                <div class="navigation inactive">
                    <p>Обновление</p>
                </div>
            </div>
            <div data-ng-if="activeTab === 'company' || activeTab === 'product'" class="items_wrapper">
                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'name'}"
                                    data-ng-click="orderByField('name')">{{title}}
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'Jan'}" 
                                    data-ng-click="orderByField('Jan')">Jan
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'Feb'}"
                                    data-ng-click="orderByField('Feb')">Feb
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'Mar'}"
                                    data-ng-click="orderByField('Mar')">Mar
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'Apr'}"
                                    data-ng-click="orderByField('Apr')">Apr
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'May'}"
                                    data-ng-click="orderByField('May')">May
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'Jun'}"
                                    data-ng-click="orderByField('Jun')">Jun
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'Jul'}"
                                    data-ng-click="orderByField('Jul')">Jul
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'Aug'}"
                                    data-ng-click="orderByField('Aug')">Aug
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'Sep'}"
                                    data-ng-click="orderByField('Sep')">Sep
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'Oct'}"
                                    data-ng-click="orderByField('Oct')">Oct
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'Nov'}"
                                    data-ng-click="orderByField('Nov')">Nov
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'Dec'}"
                                    data-ng-click="orderByField('Dec')">Dec
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'total'}"
                                    data-ng-click="orderByField('total')">Итого
                                    <i data-ng-class="{'down': isDescOrder,  'up': !isDescOrder}" class="arrow"></i>
                                </th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="object in itemList">
                            <td>{{$index + 1}}</td>
                            <td>{{object.name}}</td>
                            <td>{{object.Jan}}</td>
                            <td>{{object.Feb}}</td>
                            <td>{{object.Mar}}</td>
                            <td>{{object.Apr}}</td>
                            <td>{{object.May}}</td>
                            <td>{{object.Jun}}</td>
                            <td>{{object.Jul}}</td>
                            <td>{{object.Aug}}</td>
                            <td>{{object.Sep}}</td>
                            <td>{{object.Oct}}</td>
                            <td>{{object.Nov}}</td>
                            <td>{{object.Dec}}</td>
                            <td>{{object.total}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div data-ng-show="activeTab === 'stats'" id="curve_chart" class="curveChart"></div>
        </div>
    </body>
</html>