<html data-ng-app="fantasyApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="../../etc/images/persik.png" type="image/x-icon" />
        <title>Lesli 2005</title>

        <link rel="stylesheet" href="../../etc/styles/main.css" />
        <link rel="stylesheet" href="../../etc/styles/loader.css" />
        <link rel="stylesheet" href="../../etc/styles/table.css" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/jszip.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="../../etc/scripts/controllers/mainController.js"></script>
    </head>
    <body data-ng-controller="mainController" data-ng-init="init()">
        <div data-ng-if="!isLoaded" class="lds-default"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
            <p>Loading...</p>
        </div>
        <div >
            <div class="navigation_wrapper">
                <div class="year_wrapper">
                    <span>Период:</span>
                    <div data-ng-class="{'active': activeYear === 1}" class="year" data-ng-click="setYear(1)">
                        <p>1</p>
                    </div>
                    <div data-ng-class="{'active': activeYear === 3}" class="year" data-ng-click="setYear(3)">
                        <p>3</p>
                    </div>
                    <div data-ng-class="{'active': activeYear === 5}" class="year" data-ng-click="setYear(5)">
                        <p>5</p>
                    </div>
                </div>
                <div class="navigation" data-ng-click="showCompany()">
                    <p data-ng-class="{'active': activeTab === 'company'}">Компании</p>
                </div>
                <div class="navigation" data-ng-click="showProduct()">
                    <p data-ng-class="{'active': activeTab === 'product'}">Продукты</p>
                </div>
                <div class="navigation" data-ng-click="showStats()">
                    <p data-ng-class="{'active': activeTab === 'stats'}">Статистика</p>
                </div>
                <div class="navigation" data-ng-click="showTopCompany()">
                    <p data-ng-class="{'active': activeTab === 'topCompany'}">Топ 10 Клиентов</p>
                </div>
                <div class="navigation" data-ng-click="showTopProduct()">
                    <p data-ng-class="{'active': activeTab === 'topProduct'}">Топ 10 Продуктов</p>
                </div>
                <div class="navigation" data-ng-click="showAnalysis()">
                    <p data-ng-class="{'active': activeTab === 'analysis'}">Анализ</p>
                </div>
                <div class="search-navigation">
                    <input data-ng-change="search(searchValue)" data-ng-model="searchValue" type="search"
                           class="search-input" placeholder="Search..." aria-label="Search"
                           data-ng-class="{'enabled': activeTab === 'company' || activeTab === 'product'}"/>
                </div>
            </div>
            <div data-ng-if="(activeTab === 'product' || activeTab === 'company') && isLoaded" class="items_wrapper">
                <div class="table_scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th rowspan="2">#</th>
                                <th rowspan="2"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'name'}"
                                    data-ng-click="orderByField('name')">{{title}}</th>
                                <th data-ng-if="activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2018].total'}"
                                    data-ng-click="orderByField('data[2018].total')"
                                    rowspan="2">
                                    2018
                                <th data-ng-if="activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2019].total'}"
                                    data-ng-click="orderByField('data[2019].total')"
                                    rowspan="2">
                                2019
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2020].total'}"
                                    data-ng-click="orderByField('data[2020].total')"
                                    rowspan="2">
                                2020
                                </th>
                                <th class="long_year" data-ng-if="activeYear === 3 || activeYear === 5" colspan="13">2021</th>
                                <th class="long_year" colspan="13">2022</th>
                            </tr>
                            <tr>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].Jan'}"
                                    data-ng-click="orderByField('data[2021].Jan')">Jan
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].Feb'}"
                                    data-ng-click="orderByField('data[2021].Feb')">Feb
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].Mar'}"
                                    data-ng-click="orderByField('data[2021].Mar')">Mar
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].Apr'}"
                                    data-ng-click="orderByField('data[2021].Apr')">Apr
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].May'}"
                                    data-ng-click="orderByField('data[2021].May')">May
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].Jun'}"
                                    data-ng-click="orderByField('data[2021].Jun')">Jun
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].Jul'}"
                                    data-ng-click="orderByField('data[2021].Jul')">Jul
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].Aug'}"
                                    data-ng-click="orderByField('data[2021].Aug')">Aug
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].Sep'}"
                                    data-ng-click="orderByField('data[2021].Sep')">Sep
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].Oct'}"
                                    data-ng-click="orderByField('data[2021].Oct')">Oct
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].Nov'}"
                                    data-ng-click="orderByField('data[2021].Nov')">Nov
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].Dec'}"
                                    data-ng-click="orderByField('data[2021].Dec')">Dec
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].total'}"
                                    data-ng-click="orderByField('data[2021].total')">Итого
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].Jan'}"
                                    data-ng-click="orderByField('data[2022].Jan')">Jan
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].Feb'}"
                                    data-ng-click="orderByField('data[2022].Feb')">Feb
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].Mar'}"
                                    data-ng-click="orderByField('data[2022].Mar')">Mar
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].Apr'}"
                                    data-ng-click="orderByField('data[2022].Apr')">Apr
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].May'}"
                                    data-ng-click="orderByField('data[2021].May')">May
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].Jun'}"
                                    data-ng-click="orderByField('data[2022].Jun')">Jun
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].Jul'}"
                                    data-ng-click="orderByField('data[2022].Jul')">Jul
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].Aug'}"
                                    data-ng-click="orderByField('data[2022].Aug')">Aug
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].Sep'}"
                                    data-ng-click="orderByField('data[2022].Sep')">Sep
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].Oct'}"
                                    data-ng-click="orderByField('data[2022].Oct')">Oct
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].Nov'}"
                                    data-ng-click="orderByField('data[2022].Nov')">Nov
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].Dec'}"
                                    data-ng-click="orderByField('data[2022].Dec')">Dec
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].total'}"
                                    data-ng-click="orderByField('data[2022].total')">Итого
                                </th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="object in itemList | limitTo:quantity">
                            <td>{{$index + 1}}</td>
                            <td>{{object.name}}</td>
                            <td data-ng-if="activeYear === 5">{{object.data['2018'].total}}</td>
                            <td data-ng-if="activeYear === 5">{{object.data['2019'].total}}</td>
                            <td data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2020'].total}}</td>
                            <td data-ng-click="showDetails(object.name, 'Jan', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].Jan}}</td>
                            <td data-ng-click="showDetails(object.name, 'Feb', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].Feb}}</td>
                            <td data-ng-click="showDetails(object.name, 'Mar', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].Mar}}</td>
                            <td data-ng-click="showDetails(object.name, 'Apr', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].Apr}}</td>
                            <td data-ng-click="showDetails(object.name, 'May', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].May}}</td>
                            <td data-ng-click="showDetails(object.name, 'Jun', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].Jun}}</td>
                            <td data-ng-click="showDetails(object.name, 'Jul', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].Jul}}</td>
                            <td data-ng-click="showDetails(object.name, 'Aug', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].Aug}}</td>
                            <td data-ng-click="showDetails(object.name, 'Sep', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].Sep}}</td>
                            <td data-ng-click="showDetails(object.name, 'Oct', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].Oct}}</td>
                            <td data-ng-click="showDetails(object.name, 'Nov', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].Nov}}</td>
                            <td data-ng-click="showDetails(object.name, 'Dec', 2021)" data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].Dec}}</td>
                            <td data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].total}}</td>
                            <td data-ng-click="showDetails(object.name, 'Jan', 2022)">{{object.data['2022'].Jan}}</td>
                            <td data-ng-click="showDetails(object.name, 'Feb', 2022)">{{object.data['2022'].Feb}}</td>
                            <td data-ng-click="showDetails(object.name, 'Mar', 2022)">{{object.data['2022'].Mar}}</td>
                            <td data-ng-click="showDetails(object.name, 'Apr', 2022)">{{object.data['2022'].Apr}}</td>
                            <td data-ng-click="showDetails(object.name, 'May', 2022)">{{object.data['2022'].May}}</td>
                            <td data-ng-click="showDetails(object.name, 'Jun', 2022)">{{object.data['2022'].Jun}}</td>
                            <td data-ng-click="showDetails(object.name, 'Jul', 2022)">{{object.data['2022'].Jul}}</td>
                            <td data-ng-click="showDetails(object.name, 'Aug', 2022)">{{object.data['2022'].Aug}}</td>
                            <td data-ng-click="showDetails(object.name, 'Sep', 2022)">{{object.data['2022'].Sep}}</td>
                            <td data-ng-click="showDetails(object.name, 'Oct', 2022)">{{object.data['2022'].Oct}}</td>
                            <td data-ng-click="showDetails(object.name, 'Nov', 2022)">{{object.data['2022'].Nov}}</td>
                            <td data-ng-click="showDetails(object.name, 'Dec', 2022)">{{object.data['2022'].Dec}}</td>
                            <td>{{object.data['2022'].total}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div data-ng-if="(activeTab === 'topProduct' || activeTab === 'topCompany') && isLoaded" class="items_wrapper">
                <div class="table_scroll">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>{{title}}</th>
                                <th data-ng-if="activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2018].total'}"
                                    data-ng-click="orderByField('data[2018].total')">2018
                                <th data-ng-if="activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2019].total'}"
                                    data-ng-click="orderByField('data[2019].total')">2019
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2020].total'}"
                                    data-ng-click="orderByField('data[2020].total')">2020
                                </th>
                                <th data-ng-if="activeYear === 3 || activeYear === 5"
                                    data-ng-class="{'activeOrderField': currentOrderName === 'data[2021].total'}"
                                    data-ng-click="orderByField('data[2021].total')">2021
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'data[2022].total'}"
                                    data-ng-click="orderByField('data[2022].total')">2022
                                </th>
                                <th data-ng-class="{'activeOrderField': currentOrderName === 'total'}"
                                    data-ng-click="orderByField('total')">Итого
                                </th>
                            </tr>
                        </thead>
                        <tr data-ng-repeat="object in itemList | limitTo:quantity">
                            <td>{{$index + 1}}</td>
                            <td>{{object.name}}</td>
                            <td data-ng-if="activeYear === 5">{{object.data['2018'].total}}</td>
                            <td data-ng-if="activeYear === 5">{{object.data['2019'].total}}</td>
                            <td data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2020'].total}}</td>
                            <td data-ng-if="activeYear === 3 || activeYear === 5">{{object.data['2021'].total}}</td>
                            <td>{{object.data['2022'].total}}</td>
                            <td data-ng-if="activeYear === 1">{{object.data['2022'].total}}</td>
                            <td data-ng-if="activeYear === 3">{{round(object.data['2020'].total + object.data['2021'].total + object.data['2022'].total)}}</td>
                            <td data-ng-if="activeYear === 5">{{round(object.data['2018'].total + object.data['2019'].total + object.data['2020'].total + object.data['2021'].total + object.data['2022'].total)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div data-ng-if="(activeTab === 'analysis') && isLoaded" class="items_wrapper">
                    <div class="table_scroll">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Компания</th>
                                    <th>Продукт</th>
                                    <th>Месяц</th>
                                    <th>2021</th>
                                    <th>2022</th>
                                    <th>Процент</th>
                                </tr>
                            </thead>
                            <tr data-ng-repeat="object in analysisList">
                                <td>{{$index + 1}}</td>
                                <td>{{object.companyName}}</td>
                                <td>{{object.productName}}</td>
                                <td>{{object.month}}</td>
                                <td>{{object[2021]}}</td>
                                <td>{{object[2022]}}</td>
                                <td>{{object.percent}}%</td>
                            </tr>
                        </table>
                    </div>
                </div>
            <div data-ng-show="activeTab === 'stats' && isLoaded" id="curve_chart" class="curveChart"></div>
        </div>
        <div id="detailsPopup">
            <p class="detailsName">{{details.name}}</p>
            <img class="detailsImage" src="../../etc/images/timetable.png"/>
            <p class="detailsMonth">{{details.month}} {{details.year}}</p>
            <img class="detailsClose" data-ng-click="closeDetailsPopup()" src="../../etc/images/cancel.png"/>
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Продукт</th>
                        <th>Кол-во, кг</th>
                    </tr>
                    </thead>
                    <tr data-ng-repeat="item in details.items">
                        <td>{{$index + 1}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>