@font-face {
    font-family: Hanzi;
    src: url(../fonts/HanZi.ttf);
}

@font-face {
    font-family: Mandarinc;
    src: url(../fonts/mandarinc.ttf);
}

@font-face {
    font-family: Kashima;
    src: url(../fonts/Kashima+RUS.otf);
}

body {
    margin: 0;
    padding: 0;
}

.main {
    text-align: center;
    background-color: rgba(0,00,00,0.85);
}

.player-wrapper {
    display: inline-block; 
    padding: 25px;
    text-align: center;
}

.player {
    width: 200px;
    height: 200px;
    background-image: url(https://static3.depositphotos.com/1000819/143/i/450/depositphotos_1434813-stock-photo-gothic-fire-font-letter-f.jpg);
    background-position: center;
    background-size: contain;
    border: solid 1px black;
    border-radius: 90%;
}

.player-wrapper p {
    font-size: 18px;
    font-family: Hanzi;
    color: lightpink;
}