@font-face {
    font-family: Hanzi;
    src: url(../fonts/HanZi.ttf);
}

@font-face {
    font-family: Mandarinc;
    src: url(../fonts/mandarinc.ttf);
}

@font-face {
    font-family: Kashima;
    src: url(../fonts/Kashima+RUS.otf);
}

body {
    margin: 0;
    padding: 0;
    background-color: rgba(0,00,00,0.85);
}

h1 {
    color: lightpink;
    text-align: center;
    font-size: 60px;
    font-family: Hanzi;
    padding: 30px;
    margin: 0;

}

.main {
    text-align: center;
}

.player-wrapper {
    display: inline-block; 
    padding: 25px;
    text-align: center;
    cursor: pointer;
}

.player {
    width: 200px;
    height: 200px;background-position: center;
    background-size: cover;
    border-radius: 90%;
    border: solid 1px rgba(0,00,00,0.85);
}

.player-wrapper p {
    font-size: 18px;
    font-family: Hanzi;
    color: lightpink;
}

.selected p {
    color: green !important;
}

.selected div {
    border: solid 1px green !important;
}

.no-select {
    cursor: default;
}

.no-select div {
    border: solid 1px red;
}

.no-select p {
    color: red;
}

.team-button {
    margin: 0 auto 20px;
    display: none;
    min-width: 270px;
    min-height: 50px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-family: 'Hanzi';
    cursor: pointer;
}

.points {
    text-align: center;
    font-size: 27px;
    color: lightpink;
    font-family: 'Hanzi';
}