@font-face {
    font-family: Skellyman;
    src: url(fonts/skellyman.ttf);
}

body {
    width: 90%;
    margin: auto;
}

.header-image {
    margin: auto;
    display: block;
    width: 500px;
}

.content {
    margin-top: 100px;
}

.item-pair {
    justify-content: space-between;
    width: 500px;
    margin: auto;
    display: flex;
    font-family: Skellyman;
    font-weight: bold;
}

.item-pair p {
    text-align: center;
    min-width: 200px;
    cursor: pointer;
    border: solid 2px forestgreen;
    border-radius: 10px;
    padding: 10px;
    transform-style: preserve-3d;
    transition: all 175ms cubic-bezier(0, 0, 1, 1) 0s;
    color: forestgreen;
}

.word--selected {
    background-color: rgba(143,188,143, 0.2);
    color: darkgreen;
}

.word--incorrect {
    background-color: rgba(255,182,193,0.5);
    border: solid 2px rgb(255,182,193) !important;
    color: brown !important;
}

.word--inactive {
    background-color: white;
    color: rgba(211,211,211) !important;
    border-color: rgba(211,211,211) !important;
    pointer-events: none;
}

.congratulation {
    display: none;
    margin: 50px;
}

.congratulation-info {
    font-family: cursive;
    text-align: center;
    font-size: 100px;
    color: hotpink;
    margin: 0;
}

.try-again {
    font-family: cursive;
    text-align: center;
    font-size: 30px;
    color: green;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 767px) {
  .header-image {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }

  .item-pair {
    width: 100%;
  }

  .item-pair p {
    min-width: 130px;
  }

  .congratulation-info {
      font-size: 70px;
  }

  .try-again {
      font-size: 25px;
  }
}