.player-list-wrapper {
    width: 50%;
    float: left;
}

.player-list {
    display: inline-block;
    padding: 10px;
    text-align: center;
}

.player-list_image {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 90%;
    border: solid 3px white;
}

.selected-player {
  border: solid 3px green;
}

.selected-player_text {
    color: green
  }

.unavailable-player {
    pointer-events: none;
    cursor: default;
    border: solid 3px red;
}

.unavailable-player_text {
    color: red;
}

.total-score {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}

.my-team {
    text-align: center;
    display: inline-block;
    width: 50%;
}

.my-team p {
    font-size: 30px;
    font-weight: bold;
}

.my-team img {
    width: 200px;
    height: 200px;
}