body {
    padding: 0;
    margin: 0;
}

p {

    font-family: Zebulon;
    color: white;
    display: grid;
}

.main-wrapper {
    background-image: url(../images/main-background_1.jpg);
    background-size: cover;
    display: inline-block;
}

@font-face {
    font-family: Zebulon;
    src: url(../../etc/fonts/zebulon_new.ttf);
}

.color-wrapper {
    background-color: rgba(0,0,0,0.6);
    display: inline-block;
}

.player-list-wrapper {
    width: 60%;
    float: left;
    text-align: center;
    border-right: solid 1px white;
    box-sizing: border-box;
}

.player-list {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 150px;
    height: 200px;
}

.player-list p {
    line-height: 1.5;
}

.player-list-wrapper > p {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 50px 0 80px;
}

.player-list img {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 90%;
    border: solid 2px white;
}

.selected-player_text {
    color: limegreen;
  }

.unavailable-player {
    pointer-events: none;
    cursor: default;
    width: 104px;
    height: 104px;
    position: relative;
    bottom: 184px;
    left: 23px;
    z-index: 3;
    border: solid 2px red;
    box-sizing: border-box;
    border-radius: 90%;
    background-image: url(https://i.dlpng.com/static/png/6658483_preview.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
}

.unavailable-player_text {
    color: red;
}

.total-score {
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}

.selected-player {
    width: 104px;
    height: 104px;
    position: relative;
    bottom: 184px;
    left: 23px;
    border: solid 2px limegreen;
    box-sizing: border-box;
    border-radius: 90%;
    background-image: url(https://www.freeiconspng.com/thumbs/checkmark-png/checkmark-symbol-png-background-12.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    cursor: pointer;
}

.my-team {
    text-align: center;
    display: inline-block;
    width: 40%;
}

.my-team_title {
    font-size: 40px;
    font-weight: bold;
    color: white;
    margin: 50px 0 40px;
}

.my-team img {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.team-list {
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 250px;
}

.team-list img {
    width: 200px;
    height: 200px;
    border-radius: 90%;
    border: solid 3px white;
}

.team-list p {
    font-size: 25px;
    font-weight: bold;
    color: white;
    line-height: 1.5;
}