<html data-ng-app="fantasyApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Sakura Fantasy Spreadsheet</title>
        <link rel="shortcut icon" href="../../etc/images/sakura-icon.jpg" type="image/x-icon" />

        <link rel="stylesheet" href="../../etc/styles/spreadsheet.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script type="text/javascript" src="../../etc/scripts/jsons/spreadsheet.json.js"></script>
        <script type="text/javascript" src="../../etc/scripts/jsons/fantasyTeams.json.js"></script>
        <script type="text/javascript" src="../../etc/scripts/controllers/fantasySpreadsheetController.js"></script>
    </head>
    <body class="fantasy-body" data-ng-controller="fantasySpreadsheetController">
        <h1>Sakura Fantasy</h1>
        <!-- <div class="mvp-team_wrapper">
            <div class="mvp-logo_wrapper">
                <img class="mvp-logo" src="../../etc/images/MVPlogo.png" />
                <p>Total: {{mvpListTotal}}</p>
                <p>Average: {{mvpListAverage}}</p>
            </div>
            <div class="mvp-team" data-ng-repeat="player in mvpList">
                <img data-ng-click="applyFilter(player.nickname)" src="{{player.imageUrl}}">
                <p>{{player.rating}}</p>
                <p>{{player.total}}</p>
                <p>{{player.average}}</p>
            </div>
        </div> -->
            <p class="filter" data-ng-if="filteredBy">Filter: <span data-ng-click="clearFilter()">{{filteredBy}}</span>
            </p>
            <table class="sakura_table" cellspacing="3" cellpadding="5">
                <tr class="table_header">
                    <td>#</td><td>Player</td><td colspan="4">Team</td>
                    <td data-ng-click="applySorting('total')">Total Score</td>
                    <td data-ng-click="applySorting('average')" >Average Score</td>
                </tr>
                <tbody data-ng-repeat="player in filteredFantasySpreadsheet">
                    <tr>
                        <td>{{$index + 1}}</td>
                        <td class="team_name">{{player.name}}</td>
                        <td class="team_image">
                            <img data-ng-click="applyFilter(player.team[0].name)" src="{{player.team[0].imageUrl}}" />
                            {{player.team[0].score}} <span data-ng-if="player.team[0].evenings !== 3">({{player.team[0].evenings}})</span>
                        </td>
                        <td class="team_image">
                            <img data-ng-click="applyFilter(player.team[1].name)" src="{{player.team[1].imageUrl}}" />
                            {{player.team[1].score}} <span data-ng-if="player.team[1].evenings !== 3">({{player.team[1].evenings}})</span>
                        </td>
                        <td class="team_image">
                            <img data-ng-click="applyFilter(player.team[2].name)" src="{{player.team[2].imageUrl}}" />
                            {{player.team[2].score}} <span data-ng-if="player.team[2].evenings !== 3">({{player.team[2].evenings}})</span>
                        </td>
                        <td class="team_image">
                            <img data-ng-click="applyFilter(player.team[3].name)" src="{{player.team[3].imageUrl}}" />
                            {{player.team[3].score}} <span data-ng-if="player.team[3].evenings !== 3">({{player.team[3].evenings}})</span>
                        </td>
                        <td class="team_total">{{player.total}}
                        </td>
                        <td class="team_total">{{player.average}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>