<html data-ng-app="fantasyApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Sakura League Fantasy</title>
        <link rel="shortcut icon" href="../../etc/images/sakura-icon.jpg" type="image/x-icon" />

        <link rel="stylesheet" href="../../etc/styles/fantasy.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
        <script type="text/javascript" src="../../etc/scripts/jsons/spreadsheet.json.js"></script>
        <script type="text/javascript" src="../../etc/scripts/controllers/fantasyLeagueController.js"></script>
    
    </head>
    <body data-ng-controller="fantasyController">
        <div class="player-list-wrapper">
            <div class="player-list" data-ng-repeat="player in playerList">
                <img data-ng-class="{'selected-player': player.isSelected, 'unavailable-player ': player.isUnavailable}" 
                    data-ng-click="onImageClick(player)" class="player-list_image" src="{{player.imageUrl}}" />
                <p data-ng-class="{'selected-player_text': player.isSelected, 'unavailable-player_text': player.isUnavailable}">
                    {{player.nickname}}
                </p>
            </div>
        </div>

        <div class="my-team">
            <p>My Team</p>
            <div class="player-list" data-ng-repeat="player in playerList" data-ng-if="player.isSelected"> 
                <div>
                    <img class="player-list_image" src="{{player.imageUrl}}" />
                    <p>{{player.nickname}}</p>
                </div>
            </div>
        </div>
    </body>
</html>